#row1{
    background-color: transparent;
    /* background-color: #eb9848; */
}

#row2{
    background-color: transparent;
    /* background-color: #d26a32; */
}

#row3{
    background-color: transparent;
    /* background-color: #bc401e; */
}

#row4{
    background-color: transparent;
    /* background-color: #a21008; */
}
